.page_wrapper {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .image_section {
    position: relative;
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  .form_section {
    padding: 5rem 0;
  }
}
