.main_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;

  position: relative;
}

.logo {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.75rem;

  color: var(--accent-primary);
}

.ham_icon:checked ~ .mobile_menu {
  background: red;
}

.links {
  display: none;
}

.links li {
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  font-size: 0.9rem;
  font-weight: 600;
  padding-right: 1.25rem;
  text-transform: uppercase;
}

.links li:hover {
  color: var(--accent-primary);
}

.links li:last-child {
  color: var(--accent-primary);
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 95%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;

  background: var(--primary);
  color: var(--secondary);
  padding: 1rem 1.25rem;
}

.menu ul {
  margin-top: 1rem;
}
.menu ul li {
  margin-bottom: 0.75rem;
  font-size: 0.8rem;
}

.column_heading {
  color: var(--accent-primary);
  padding-bottom: 0.85rem;
  border-bottom: 2px solid var(--background-fade);
}

.column_six {
  display: none;
}

.cta {
  padding: 0.65rem 0.75rem;
  border: 2px solid var(--accent-primary);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

@media (min-width: 425px) {
  .main_menu {
    padding: 1rem 0;
  }
}

@media (min-width: 767px) {
  .ham_icon {
    display: none;
  }

  .links {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .column_six {
    display: block;
  }

  .menu {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* mobile menu */
.mobile_menu {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.show_mobile_menu {
  max-height: 100vh;
  padding: 2rem 0;
}

.mobile_menu ul {
  margin-left: 1rem;
}

.mobile_menu li,
.accordian_heading {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 0.9rem;

  cursor: pointer;
}

.sub_links {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.accordian {
  margin: 1rem;
}

.accordian_heading {
  font-weight: 600;
  color: var(--accent-primary);
}

.check:checked ~ .sub_links {
  max-height: 400px;
}

.mobile_links > li {
  opacity: 0.95;

  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.sub_links > li:hover {
  color: var(--accent-primary);
}
