.FAQs {
  background: var(--accent-blue);
  color: var(--primary);
  padding: 4em 0;
  line-height: 1.2;
}

.section_one {
  margin-bottom: 2.5rem;
}

.section_one h1 {
  font-weight: 700;
  margin-bottom: 1rem;
}

.section_one p {
  max-width: 425px;
  opacity: 0.8;
  line-height: 1.8;
}

.section_one p span {
  color: var(--accent-primary);
  cursor: pointer;
}

.question {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.question_block {
  margin-bottom: 2rem;
}

.section_two p {
  font-size: 0.9rem;
  line-height: 1.8;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .FAQs article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
  }
}
