.footer {
  padding: 4rem 0 1rem 0;
  background-color: var(--background-dark);
  color: var(--primary);

  transition: all 0.3s ease-in-out;

  .section_wrapper {
    @media (min-width: 767px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .section {
        text-align: left;
      }
    }
  }

  .section {
    text-align: center;
    margin-bottom: 4rem;
    &:last-child {
      margin-bottom: 2rem;
    }
    .heading {
      display: inline-block;
      font-weight: 700;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 2px solid var(--accent-primary);
    }

    li {
      cursor: pointer;
      font-weight: 200;
      font-size: 0.9rem;
      opacity: 0.7;
      margin-bottom: 1rem;

      &:hover {
        opacity: 1;
        font-weight: 400;
      }
    }
  }

  .section_one {
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid var(--background-light);

    @media (min-width: 768px) {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    li {
      cursor: pointer;
      font-weight: 200;
      font-size: 0.9rem;
      opacity: 0.7;
      margin-bottom: 1rem;

      &:hover {
        opacity: 1;
        font-weight: 400;
      }
    }
  }
  .icon_wrapper {
    .icon {
      padding: 1rem 1rem;
      font-size: 1.45rem;
      &:hover {
        color: var(--accent-primary);
      }
    }
  }

  .developed {
    padding-top: 1rem;
    display: block;
    text-align: center;
    opacity: 0.8;
    font-size: 0.9rem;
  }
}
