.embla {
  overflow: hidden;
  width: 100%;
}

.embla.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla.is-dragging {
  cursor: grabbing;
}

.slider_container {
  display: flex;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.slide {
  margin-top: 2rem;
  flex: 0 0 85%;
  background-color: var(--background-fade);
}

@media (min-width: 425px) {
  .slide {
    flex: 0 0 60%;
  }
}

.top h2 {
  font-weight: 600;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button_container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
