.contact_form {
  padding: 4rem 0;
}

.title {
  margin-bottom: 2rem;
}

@media (min-width: 900px) {
  .form_wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 1rem;
  }
}
