.promotion {
  background: var(--accent-blue);
  color: var(--primary);
  padding: 2rem;
  border-radius: 10px;

  display: none;
}

.block {
  margin-bottom: 2rem;
}

.block h1 {
  font-weight: 700;
  margin-bottom: 1rem;
}

.block p {
  opacity: 0.8;
}

@media (min-width: 900px) {
  .promotion {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
