/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  user-select: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --primary: #fff;
  --secondary: #272928;
  --accent-primary: #e0a965;
  --accent-secondary: #ffa113;

  --accent-blue: #4c50e0;
  --background-fade: #f2f2f8;
  --background-black: #313131;

  --shadow-primary: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--secondary);
  background-color: var(--primary);

  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.container {
  width: 90%;
  max-width: 80rem;

  height: 100%;
  position: relative;
  margin: 0 auto;
}

.font-med {
  font-size: 1.5rem;
  color: var(--accent-primary);
}

.font-sm {
  font-size: 1.25rem;
  color: var(--accent-primary);
}

.font-lg {
  font-size: 2rem;
  color: var(--accent-primary);
}

.font-xl {
  font-size: 2rem;
  color: var(--accent-primary);
}

@media (min-width: 425px) {
  .font-xl {
    font-size: 2.5rem;
  }
}

h1 {
  font-size: 2.488em;
}
h2 {
  font-size: 2.074em;
}
h3 {
  font-size: 1.728em;
}
p {
  font-size: 1.025em;
}

img {
  max-width: 100%;
}

.hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.hover-scale:hover {
  transform: scale(1.4);
}

.primary-btn {
  border: none;
  ouline: none;
  background: var(--accent-secondary);
  width: max-content;
  padding: 0.85rem 1.25rem;

  border-radius: 2px;
  text-transform: uppercase;

  font-weight: 500;
  cursor: pointer;
  color: var(--primary);

  transition: all 0.3s ease-in-out;
}

.primary-btn:hover {
  transform: translateX(4px);
}

.full-width {
  width: 100%;
}

.input-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-block label {
  font-size: 0.9rem;
  font-weight: 600;
  opacity: 0.9;
  margin-bottom: 0.5rem;
}

.input-block input,
.input-block textarea {
  font-family: inherit;

  font-size: 1rem;
  outline: none;
  padding: 0.75rem 0.25rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  opacity: 0.8;
}

.input-block input:hover,
.input-block textarea:hover {
  border-bottom: 1px solid var(--accent-primary);
}

.error {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  color: red;
}

.custom-select {
  font-family: inherit;

  font-size: 1rem;
  outline: none;
  padding: 0.75rem 0.25rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  opacity: 0.8;
}

/* page header */
.page-header {
  display: flex;
  justify-content: center;

  font-weight: 500;
  background-color: var(--background-black);
  color: var(--primary);
  padding: 5rem 0;

  font-family: "serif", "sans-serif";
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.ample-media {
  text-align: center;
  background-color: var(--background-fade);
  color: var(--accent-primary);
  font-size: 0.85rem;
  padding: 0.75rem;
}

/* dynamic content from data.js */
.dynamic-content {
  margin: 2rem auto;
  max-width: 60rem;
  line-height: 1.4;
  padding-bottom: 2rem;
}

.dynamic-content h2 {
  color: var(--accent-primary);
  margin-bottom: 1rem;
}

/* director page */
.director {
  line-height: 1.4;
  margin: 2rem auto;
}

.director h1 {
  color: var(--accent-primary);
  margin-bottom: 1rem;
}
