.main_heading {
  line-height: 1.4;
  font-weight: 700;

  max-width: 50rem;
  margin: 1em auto;
}

.para {
  line-height: 1.5;
  color: var(--background-dark);

  max-width: 50rem;
  margin: 0 auto;

  li {
    margin-bottom: 1rem;
  }
}

.player {
  margin: 2rem 0;
  height: 190px;
  width: 100%;
  max-width: 900px;
  margin-bottom: 3rem;

  @media (min-width: 425px) {
    height: 390px;
  }
  @media (min-width: 767px) {
    height: 420px;
  }
}
