.main_heading {
  line-height: 1.4;
  font-weight: 600;

  max-width: 50rem;
  margin: 1em auto;
}

.para {
  line-height: 1.5;
  color: var(--background-dark);

  max-width: 50rem;
  margin: 0 auto 5rem auto;
}
