.consultation_form {
  max-width: 35rem;
  margin: 2rem auto;
}

.login_form {
  position: relative;
  z-index: 5;

  background-color: var(--primary);
  margin: 0em auto;
  width: 85%;
  max-width: 35rem;
  padding: 2em 1em;
  border-radius: 5px;

  box-shadow: var(--shadow-primary);
}

@media (min-width: 768px) {
  .flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

.block {
  margin: 1rem 0;
}

.input_block {
  @media (min-width: 768px) {
    display: flex;

    & > * {
      flex: 1;
      margin-right: 1rem;
    }
  }
}

.block_heading {
  font-weight: 600;
  margin-bottom: 1.75rem;
  opacity: 0.9;
  color: var(--accent-primary);
  line-height: 1.4;
}

.block_description {
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 0.8;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.accent {
  color: var(--accent-blue);
  cursor: pointer;
}

.accent:hover {
  text-decoration: underline;
}

.checkbox_group {
  display: flex;
  align-items: center;

  margin: 1rem 0 2rem 0;
  padding: 0.75rem 0;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  label {
    font-size: 0.9rem;
    font-weight: 600;
    opacity: 0.9;
    margin-bottom: 0.5rem;

    display: flex;
    align-items: center;
    & > * {
      margin-left: 0.5rem;
      margin-right: 2rem;
    }
  }
}

.user_profile_form {
  padding-bottom: 2rem;
}
